# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.lock
*.tfstate.lock.info
*.tfstate.backup
*.tfvars
*.tfplan

# Docker
docker-compose.override.yml

# Data Volumes
volumes/

# Secrets and environment variables
env/
secrets/
*.env
*.env.local
*.env.production
*.env.staging

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
/infra/env/
*.egg-info/
dist/
build/

# dbt
dbt_packages/
logs/
target/
dbt/profiles/profiles.yml
dbt/profiles/*.yml

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Temporary files
*.tmp
*.temp
*.log
*.pid

# Backup files
*.bak
*.backup
*.old
dbt/package-lock.yml
dbt/dbt_project.yml
dbt/macros/dq_macros.yml
