# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.lock
*.tfstate.lock.info
*.tfstate.backup
*.tfvars
*.tfplan

# Docker
docker-compose.override.yml

# Data Volumes
volumes/

# Secrets and environment variables
env/
secrets/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
/infra/env/
*.egg-info/
dist/
build/

# dbt
dbt_packages/
logs/
target/

# IDE
.idea/
.vscode/

# OS
.DS_Store
