# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan

# Docker
docker-compose.override.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/
dist/
build/

# dbt
dbt_packages/
logs/
target/

# IDE
.idea/
.vscode/

# OS
.DS_Store
